<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Arange driver</title>
</head>
<body>
    <div class="container mt-3">
        <table class="table table-dark">
            <thead>
                <th>STT</th>
                <th>Tên</th>
                <th>SDT</th>
                <th>Điểm đón</th>
                <th>Điểm đến</th>
                <th>Ngày đi</th>
                <th>Ngày về</th>
                <tbody id="tbody_user_info"></tbody>
            </thead>
        </table>
    </div>

    <script type="module" src="../backend/arange_driver.js"></script>
</body>
</html>